*{
    margin: auto;
    box-sizing: border-box;
}
body {

    font-family:fantasy;
    color: #3f3f3f;
    background-image: url("img/blue_bkgrd.jpg");
    background-size: cover;
    margin: auto;
    width: 90%;
}

.container {
    width: 100%;
}

h1 {
    text-align: center;
    margin-bottom: 50px ;
    margin-top: 50px ;
    padding: 50px;
    border: 2px solid rgb(0, 174, 255);
    background-color: rgba(179, 179, 179, 0.377);
    border-radius: 10px;
    width: fit-content;
}
form {
    height: 100%;   
    width: 100%;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
    border: 1px solid #02d9ff;
    border-radius: 5px;
    height: 30px;

}

textarea {
    height: 150px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group:last-child {
    margin-bottom: 0;
}

button {
    display: block;
    text-shadow: 5px 5px 5px #3f3f3f;
    box-shadow: 1px 3px 0px #3f3f3f;
    width: 20%;
    padding: 10px;
    background-color: #007BFF;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #00b3ca;
    border-radius: 5px;
}
button:active {
    color: white;
    text-shadow: 5px 5px 5px #ffffff;
    background-color: #013b42;
    box-shadow: 0px 0px 0px #3f3f3f;
}


.caption {
    margin-top: 20px;
    font-weight: bold;
}
