body {
    width: 90%;
    margin: auto;
    padding: 0;
    background-color: #fff;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

form {
    width: 100%;
    width: 100%;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    height: 150px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group:last-child {
    margin-bottom: 0;
}

button {
    display: block;
    width: 25%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.caption {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}
